<h1 class="page-header">
    <span ng-switch on="company.type">
        <span ng-switch-when="CARRIER_COMPANY">
            Carrier Company Details
        </span>
        <span ng-switch-when="WAREHOUSE_COMPANY">
            Warehouse Company Details
        </span>
        <span ng-switch-when="SENDER_COMPANY">
            Sender Company Details
        </span>
        <span ng-switch-when="RECEIVER_COMPANY">
            Receiver Company Details
        </span>
        <span ng-switch-default>
            Company Details
        </span>
    </span>
</h1>

<div class="row">

    <form ng-submit="onFormSubmit()" name="companyForm" novalidate class="form-horizontal validation-form" role="form">
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">Name:</label>
            <div class="col-sm-6">
                <input id="name" name="name" type="text" class="form-control" ng-model="company.name" required>
            </div>
            <div ng-show="companyForm.$submitted || companyForm.name.$touched" class="col-sm-4">
                <label ng-show="companyForm.name.$error.required" class="text-danger">Enter name</label>
            </div>
        </div>

        <input type="hidden" name="type" ng-value="company.type"/>

        <div class="form-group">
            <input type="submit" class="btn btn-default col-sm-1 col-sm-offset-4" ng-disabled="companyForm.$invalid"
                   value="Save"/>
            <button ui-sref="companies" class="btn btn-default col-sm-1">Back</button>
        </div>
    </form>

</div>
