<h1 class="page-header">Users</h1>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Full Name</th>
            <th>Login</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>
                {{ user.id }}
            </td>
            <td>
                <a ui-sref="userDetails({userId: user.id})">{{ user.firstName + ' ' + user.lastName }}</a>
            </td>
            <td>
                {{ user.login }}
            </td>
            <td>
                <span ng-repeat="role in user.roles">&nbsp&nbsp&nbsp{{ role.roleName }}</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<nav>
    <ul class="pagination">
        <li ng-show="pageCtx.number > 0" class="enabled">
            <a ui-sref="users({page : pageCtx.number - 1, pageSize : pageCtx.size})" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-hide="pageCtx.number > 0" class="disabled">
            <a aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li class="{{ page ==  pageCtx.number ? 'active' : '' }}" ng-repeat="page in pager.pages">
            <a ui-sref="users({page : page})">
                {{ page + 1 }}
            </a>
        </li>

        <li ng-show="pageCtx.number + 1 < pageCtx.totalPages" class="enabled">
            <a ui-sref="users({page : pageCtx.number + 1, pageSize : pageCtx.size})" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li ng-hide="pageCtx.number + 1 < pageCtx.totalPages" class="disabled">
            <a aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>

    <ul class="pagination pull-right">
        <li class="{{ pageCtx.size == 5 ? 'active' : '' }}">
            <a ui-sref="users({page : 0, pageSize : 5})">&nbsp5&nbsp</a>
        </li>
        <li class="{{ pageCtx.size == 10 ? 'active' : '' }}">
            <a ui-sref="users({page : 0, pageSize : 10})">10</a>
        </li>
    </ul>
</nav>


<button ui-sref="addUser" class="btn btn-default">Add user</button>